.contacts__wrapper {
  position: relative;
  background-color: #f2f2f2;
  z-index: 1;
}

.contacts__container {
  width: 940px;
  padding: 0 10px;
  padding-bottom: 15px;
  margin: 0 auto;
  text-align: center;
}

.contacts__heading {
  display: inline-block;
  margin-top: 70px;
  margin-bottom: 60px;
  width: 640px;
  font-size: 50px;
  font-weight: 300;
  line-height: 60px;
  color: $blue;
}

.contacts__information {
 list-style: none;
 margin: 0;
 margin-bottom: 18px;
 padding: 0;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts-list__item {
  width: 294px;
  font-weight: 700;
  color: $blue;
}

.contacts-list__item-info {
  display: inline-block;
  margin-top: 25px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color:$pink;
}

.triangle {
  position: absolute;
  top: 100%;
  width: 0;
  height: 0;
  border-top: 110px solid #f2f2f2;
  border-left: 50vw solid transparent;
  border-right:50vw solid transparent;
}

.contacts__map-iframe {
  position: absolute;
  width: 1200px;
  height: 511px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #f2f2f2;
}

.contacts__map {
  position: relative;
  z-index: -1;
  margin: 0;
  margin-top: -270px;
  text-align: center;
  background-color: #e2ded8;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 41.4%;
    transform: translateX(-47%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 10px solid #fff;
    background-color: $pink; 
  }
}

@media (max-width:$tablet-width) {
  .contacts__container {
    width: 620px;
    padding: 0 20px;
    padding-bottom: 25px;
  }

  .contacts__heading {
    margin-top: 50px;
    margin-bottom: 45px;
    width: auto;
    font-size: 40px;
    line-height: 50px;
  }

  .contacts-list__item:nth-child(2) {
    margin: 0 auto;
    margin-top: 43px;
    order: 1;
  }

  .contacts-list__item-info {
    margin-top: 10px;
  }

  .triangle {
    border-top-width: 70px;
  }

  .contacts__map-iframe {
    width: 660px;
    height: 378px;
  }

  .contacts__map {
    margin-top: -345px;

    &::after {
      bottom: 32.4%;
    }
  }
}

@media (max-width:$mobile-width) {
  .contacts__container {
    width: 280px;
    padding-bottom: 35px;
  }

  .contacts__heading {
    margin-top: 43px;
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 34px;
  }

  .contacts-list {
    flex-direction: column;
  }

  .contacts-list__item {
    width: auto;
    margin-bottom: 20px;
  }

  .contacts-list__item:nth-child(2) {
    margin-top: 0;
  }

  .contacts-list__item-info {
    margin-top: 5px;
  }

  .triangle {
    border-top-width: 35px;
  }

  .contacts__map-iframe {
    width: 320px;
    height: 203px;
  }

  .contacts__map {
    margin-top: -366px;
    max-height: 612px;

    &::after {
      bottom: 12.4%;
    }
  }
}