.page-header {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  min-height: 110px;
  padding: 0 10px;
  margin: 0 auto;
}

.page-header__logo {
  width: 150px;
  margin-bottom: 10px;
}

.page-header__logo-icon {
  fill: #ffffff;

  .logo-tablet,
  .logo-mobile {
    display: none;
  }

  &:hover .logo-desktop {
    fill:$pink;
  }

  &:active .logo-desktop {
    fill: #ffffff;
    fill-opacity: 0.3;
  }
}

@media (max-width:$tablet-width) {
  .page-header--blue {
    background-color: #283645;
  }
  .page-header__wrapper {
    width: 620px;
    height: auto;
    padding: 0;
  }

  .page-header__logo {
    position: absolute;
    top: 27px;
    z-index: 1;
  }  

  .page-header__logo-icon {
    .logo-tablet {
      display: inline-block;
    }
    .logo-desktop,
    .logo-mobile {
      display: none;
    }

    &:hover .logo-tablet {
      fill:$pink;
    }
  
    &:active .logo-tablet {
      fill-opacity: 0.3;
    }
  }
}

@media (max-width:$mobile-width) {
  .page-header {
    min-width: 320px;
  }
  .page-header__wrapper {
    width: 280px;
    min-height: 66px;
  }

  .page-header__logo {
    top: 22px;
  }

  .page-header__logo-icon {
    .logo-mobile {
      display: inline-block;
    }

    .logo-desktop,
    .logo-tablet {
      display: none;
    }

    &:hover .logo-mobile {
      fill:$pink;
    }
  
    &:active .logo-mobile {
      fill-opacity: 0.3;
    }
  }
}